/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
body {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    overflow-x: none;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}
/****** MENU And LOGO ***********/
.menu-logo{
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 121.09px;
    height: 79px;
}
.logo img{
    position: relative;
    width: 61.09px;
    height: 19px;

    top: 30px;
}
.menu{
    position: relative;
    width: 328.6px;
    height: 35px;
}
.menu .btn-nav{
    position: absolute;
    top: 0px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    width: 244px;
    height: 35px;
    padding: 0px;
    margin: 0px;
}
.menu .btn-nav a{
    display: block;
    text-decoration: none; 
    padding: 10px;
}
.menu .btn-nav li{
    list-style: none;
}
.heberger a{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.activites a{
    color: black;
}

/****** INFORMATION GROUPE ***********/
.information-group{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:40px;
    margin-bottom: 40px;
}
.infromation-titre-paragraphe{
    width: 100%;
    height: 53px;
}
.infromation-titre-paragraphe h1{
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.625rem;
    color: #000000;
}
.infromation-titre-paragraphe p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    padding-top: 5px;
}
.infromation-titre-paragraphe p,h1{
    font-style: normal;
    margin: 0;
    word-wrap: break-word;
}

.search-bar-icon{
    display: flex;
    justify-content: center;
    width: 377px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}
.search-bar-icon .icon{
    width: 15%;
    height: 49px;
    background: #F2F2F2;
    align-items: center;
    border-radius: 8px 0px 0px 8px;
    position: relative;
}
.search-bar-icon .icon i{
    position: absolute;
    left:30%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #000000;
}
.search-bar-icon input{
    width: 55%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    border: none;

}
.search-bar-icon .btn-recherche{
    width: 28%;
    height: 49px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.search-bar-icon .btn-recherche i{
    display: none;
}
.filtreBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 758px;
    height: 50px;
    
}
.filtreBar h2{
    margin: 0px;
}
.filtreBar .btn-filters-cols{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    width: 85%;
}

.btn-filters-cols .btn-col{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}
.filtreBar .btn-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 19px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    width: 60%;
    height: 50px;
    background-color: #FFF;
}
.filtreBar .btn-filter:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}
.filtreBar .btn-filter i{
    padding-right: 10px;
    font-size: 1.2rem;
    color: #0065FC;
}
.filtreBar .btn-filter span{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
.info-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 24px;
}

.info-bar p,a{
    margin: 0px;
}
.info-bar a{
    text-decoration: none;
}

/****** les Details de certains element ***********/
.fa-solid {
    color: var(--main-color);
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 2px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color);
}
.note_mauvause{
    color: #F2F2F2;;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 65%;
}
.herbergements-cards{
    display: flex;
    gap: 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 240.25px;
    margin: auto;
    padding: 0;
}
.herbergements-cards .card{
    width: 30%;
    height: 225.25px;
}
.herbergements-cards .card img{
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0px 0px;
}
.herbergements-cards .card .card-content{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px ;
    gap: 4px;
    box-sizing: border-box;
}
.herbergements-cards .card .card-content h3,p{
    margin: 0px;
}
.herbergements-cards .card .card-content h3{
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #000000;
}
.herbergements-cards .card .card-content p{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #000000;
}
.aficher_plus a{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* ACTIVITES */

.activite{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    height: 559.02px;
    padding: 30px;

}
.activite h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.activite section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 49px;
    width: 100%;
    height: 439px;
}
.activite section .card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    border-radius: 20px;
    width: 297.5px;
    height: 439px;
}
.activite .image-activites{
    width: 100%;
    height: 380px;
}
.activite section .card img{
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    align-self: stretch;
}
.activite .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 59px;
}
.activite .card-content p{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 19px;
}
/****** FOOTER *******/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 163px;
    background: #F2F2F2;
    margin-left: 15px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20%;
    width: 100%;
    height: 163px;
}
.footer div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    width: 40%;
}
.footer h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.footer p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media  (max-width: 1024px) {
    .main-container{
        width: 100%;
        max-width: 1020px;
    }
    .logo{
        position: relative;
    }
    .logo img{
        left: 0px;
    }
    .filtreBar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .search-bar-icon .btn-recherche i{
        display: none;
    }
    .btn-filters-cols{
        display: none;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }
    .populaires-cards .card-title {
        font-size: 12px;
    }
    .populaires-cards .card-subtitle {
        font-size: 11px;
    }
    .activite{
        height: 390.02px;
    }
    .activite section{
        height: 270px;
    }
    .activite section .card{
        height: 250px;
    }
    .activite .image-activites{
        height: 200px;
    }
    .activite section .card img{
        height: 200px;
    }
    .activite .card-content{
        height: 59px;
    }
    .footer{
        gap: 10%;
    }
    .footer div{
        gap: 5px;
        padding: 10px;
        width: 50%;
    }
}

/* Small devices (phones, less than 768px) */
@media  (max-width: 767.98px) {
    /* ... */
    .main-container{
        width: 100%;
        max-width: 767.98px;
        padding: 0;
    }
    .menu-logo{
        width: 100%;
        height: 115px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin-bottom: 40px;
    }
    .logo{
        position: relative;
    }
    .logo img{
        left: 30px;
    }
    .menu{
        width: 100%;
        height: 35px;
        position: relative;
        width: 100%;
        
    }
    .menu .btn-nav{
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0px auto;
        width: 100%;
        
    }
    .menu .btn-nav li{
        width: 50%;
        text-align: center;
    }

    .heberger a{
        border-top: 0px;
        border-bottom: 2px solid #0065FC;
    }
    main{
        padding: 0 20px;
        margin-bottom: 40px;
    }
    .information-group{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
    }
    .infromation-titre-paragraphe{
        height: 90px;
    }
    .search-bar-icon{
        width: 100%;
        justify-content: space-between;
    }
    .search-bar-icon .icon{
        width: 13%;
    }
    .search-bar-icon .btn-recherche{
        top: calc(50% - 49px/2);
        background: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 15px;
        width: 13%;
    }
    .search-bar-icon .btn-recherche i{
        display: block;
        color: white;
        font-size: 1.1rem;
    }
    .recherche-1{
        display: none;
    }
    .filtreBar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        height: 100%;
    }
    .filtreBar .btn-filters-cols{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        gap: 10px;
    }
    .filtreBar .btn-filters-cols .btn-col{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 90%;
        gap:20px;
    }

    .filtreBar .btn-filters-cols .btn-col span{
        font-size: 17px;
    }
    .filtreBar .btn-filters-cols .btn-col i{
        font-size: 17px;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        height: 100%;
        
    }
    .hebergements-and-populaires section{
        border-radius: 0px;
        padding: 0;
    }
    .hebergements {
        width: 100%;
        background-color: white !important;
        margin-top: 80px;
    }
    .herbergements-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 20px;
    }
    .infromation-titre-paragraphe p, h1{
        padding-left: 3% !important;
    }
    .herbergements-cards .card{
        width: 95%;
        height: 50vw;
    }
    .herbergements-cards .card img{
        width: 100%;
        height: 35vw;
    }
    .herbergements-cards .card .card-content{
        width: 100%;
        height: 15vw;
        padding: 8px 20px;
        gap: 5px;
    }
    .populaires {
        width: 100%;
        margin: 0%;

    }
    

    .populaires-title{
        width: 95%;
        margin: auto;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
    }
    .populaires-cards .card {
        width: 95%;
        
    }
    .populaires-cards .card-title {
        font-size: 16px;
    }
    .populaires-cards .card-subtitle {
        font-size: 14px;
    }
    .aficher_plus a{
        padding-left: 20px;
    }
    .activite{
        height: 100%;
        padding: 8px;
        margin-top: 5%;
    }
    .activite h2{
        padding-left: 20px;
    }
    .activite section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .activite section .card{
        width: 95%;
        height: 45vw;
    }
    .activite .image-activites{
        height: 35vw;
    }
    .activite section .card img{
        height: 35vw;
    }
    .activite .card-content{
        height: 20vw;
    }
    .activite .card-content p{
        font-size: 17px;
    }
    footer{
        align-items: flex-start;
        width: 100%;
        height: 8%;
    }
    .footer{
        flex-direction: column;
        gap: 10px;
        padding: 5px;
        width: 100%;
        height: 20vw;
    }
    .footer div{
        gap: 10px;
        padding: 5px;

    }
}